@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --color__background:white;
  --line__buttom:#A9ABAE;
  --color_font_btn:#A9ABAE;
  --color-icon:#B1C3A2;
  --color__font_primary:#000000A8;
  --color_icon:#000000;
  --color__font_sencondary:#A9ABAE;
  --family__font_primary:'Display-bold-italic', sans-serif;
  --family__font_secondary:'Display-regular', sans-serif;
  --font__text:'Montserrat', sans-serif;
  --font-light:#ffffff;
  --font-size-12:.75rem;
  --font-size-16:1rem;
  --font-size-18:1.125rem;
  --font-size-24:1.5rem;
  --font-size-28:1.75rem;
  --font-size-32:2rem;
  --font-size-36:2.25rem;
  --font-size-42:2.625rem;
  --font-size-64:4rem;
  --font-size-76:4.75rem;

}
@font-face {
  font-family: 'Display-black';
  src: url('./font/PlayfairDisplay-Black.otf') format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'Display-bold';
  src: url('./font/PlayfairDisplay-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Display-bold-italic';
  src: url('./font/PlayfairDisplay-BoldItalic.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Display-regular';
  src: url('./font/PlayfairDisplay-Regular.otf') format('opentype');
  
}
@font-face {
  font-family: 'Displaysc-bold';
  src: url('./font/PlayfairDisplaySC-Bold.otf') format('opentype');
  font-weight: 100;
}
@font-face {
  font-family: 'Displaysc-regular';
  src: url('./font/PlayfairDisplaySC-Regular.otf') format('opentype');

}
@font-face {
  font-family: 'DisplaySC-Italic';
  src: url('./font/PlayfairDisplaySC-Italic.otf') format('opentype');
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('./font/PlayfairDisplay-Italic.otf') format('opentype');
}

*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}
body{
  width:100%;
  height: 100vh;
  
}
html {
  scroll-behavior: smooth;
}

/*Estilo del scrollbar*/
::-webkit-scrollbar {
  width: .5rem;
  background-color: var(--color__font_primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color_font_btn);
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color__background);
}

