@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root{
  --color__background:white;
  --line__buttom:#A9ABAE;
  --color_font_btn:#A9ABAE;
  --color-icon:#B1C3A2;
  --color__font_primary:#000000A8;
  --color_icon:#8A8484;
  --font_family_principal:'Playfair Display', serif;
  --font_family_second:'Playfair Display SC', serif;
  --color__font_sencondary:#A9ABAE;
  --font__text:'Montserrat', sans-serif;
  --font-light:#ffffff;
  --font-size-12:.75rem;
  --font-size-16:1rem;
  --font-size-18:1.125rem;
  --font-size-24:1.5rem;
  --font-size-28:1.75rem;
  --font-size-32:2rem;
  --font-size-36:2.25rem;
  --font-size-42:2.625rem;
  --font-size-64:4rem;
  --font-size-76:4.75rem;
}


*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}
body{
  width:100%;
  height: 100vh;
  
}
html {
  scroll-behavior: smooth;
}

/*Estilo del scrollbar*/
::-webkit-scrollbar {
  width: .5rem;
  background-color: var(--color__font_primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color_font_btn);
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color__background);
}

